<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BankAccount.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-S0332IO\BANK;Persist Security Info=True;User ID=sa;Password=atf"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>